# Виртуальное окружение
venv/
.venv/

# Файлы кэша
__pycache__/
*.pyc

# Секреты и локальные настройки
.env
*.env

# Локальная база данных (если SQLite)
db.sqlite3

# Системные файлы ОС
.DS_Store
Thumbs.db

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log

*.pyc
*.pyo
__pycache__/